/*==================== FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.asbody {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #0f0f0f;
  background-color: #fff;
  font-weight: 500;
}

.astitle {
  margin: 58px 0 36px 0;

  font-size: 48px;
  color: #fff;
}

.astext-black {
  color: #0f0f0f !important;
}

.astext-white {
  color: #fff !important;
}

.astext-gray {
  color: #7C7C7C !important;
}

.astext-bold {
  font-weight: bold !important;
}

.asdescription {
  max-width: 55%;
  font-size: 16px;
  color: #fff;
}

.astext-16 {
  font-size: 16px;
  font-weight: 500;
}

.astext-14 {
  font-size: 14px;
  font-weight: 400;
}

.asimage {
  max-width: 100%;
  height: auto;
}

.asmt {
  margin-top: 38px !important;
}

.asrelative {
  position: relative;
}

.asnowrap {
  flex-wrap: nowrap !important;
}

.asflex-col {
  flex-direction: column !important;
}

.asmax-width {
  width: 100% !important;
}

.aswidth-50 {
  width: 50% !important;
}

.asmb-86 {
  margin-bottom: 86px !important;
}

.asgap-48 {
  gap: 48px !important;
}

.asmt-9 {
  margin-top: 9px !important;
}

.asbackground-dark {
  background-color: #283c6d;
}

.asbackground-dark2 {
  background-color: #2F477F;
}

.asbackground-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  padding-top: 28px;

  width: 415px;
  height: 131px;
}

.asbackground-chip1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: center;
}

.asbackground-chip2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-quadro1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: center;
}

.asbackground-quadro2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: right;
}

.asbackground-bridge1 {
  background-color: #2F477F;
  background-repeat: no-repeat;
  background-position: 70%;
}

.asbackground-bridge2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-detector1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: center;
}

.asbackground-detector2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: right;
}

.asbackground-service1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: center;
}

/*==================== LAYOUT ====================*/
.ascontainer {
  max-width: 1180px;
  margin: 0 auto;
}

.aswrapper {
  margin-top: 100px;
}

/*==================== FIRST PAGE ====================*/
.ascontainer-preview {
  display: flex;

  min-height: 347px;
}

.asadvantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 38px 0 32px 0;
  gap: 25px;
  list-style: none;
}

.asadvantages-item {
  width: 48%;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.asitem-container {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.asadvantages-icon1 {
  width: 76px;
  height: auto;
}

.asadvantages-icon2 {
  width: 48px;
  height: auto;
}

.asadvantages-title {
  font-size: 16px;
  font-weight: bold;
}

.asadvantages-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
}

.ascontainer-composition {
  display: flex;
  min-height: 312px;
}

.ascomposition-left {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin: 42px 0 0 72px;
}

.ascomposition-title {
  font-size: 24px;
  text-transform: uppercase;
}

.ascomposition-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  gap: 47px;
}

.asadvantages-wrapper {
  display: flex;
  gap: 26px;
}

.ascomposition-description {
  margin-top: 23px;
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
}

.asdetector-desc {
  max-width: 439px  ;
}

.ascomposition-list {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  gap: 16px;
  list-style-position: inside;
}

.ascomposition-item {
  font-size: 16px;
}

.ascomposition-item::marker {
  color: #3d89ec;
}

.ascontainer-sheme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.asimage-telemetry {
  padding-top: 45px;
}

.asinfo {
  position: absolute;
  top: 0;
  left: 25%;
}

.asinfo-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.asinfo-title {
  font-size: 14px;
  font-weight: 600;
}

.asquadro {
  margin-top: 79px;
  margin-bottom: 57px;
}

.asservice-list {
  max-width: 439px !important;
  gap: 16px !important;
}

/* PAGE2 */

/* PAGE3 */
.asservice-list2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 24px;
  margin-left: 75px;
  list-style-position: inside;
}

.asservice-item {
  list-style: inside;
}

.asservice-title {
  font-size: 32px;
  font-weight: bold;
}

/*==================== MEDIA ====================*/
@media (max-width: 1240px) {
  .asdescription {
    max-width: 80%;
  }

  .ascontainer {
    max-width: 1024px;
  }

  .aswrapper {
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  .ascontainer {
    max-width: 730px;
  }

  .aswrapper {
    margin-top: 50px;
  }

  .asinfo {
    left: 15%;
  }

  .asbackground-quadro2 {
    background-position: center;
    background-size: contain;
  }

  .asbackground-detector2 {
    background-position: 500%;
  }
}

@media (max-width: 768px) {
  .asdescription {
    max-width: 60%;
  }

  .ascontainer {
    max-width: 550px;
    display: flex;
    flex-direction: column;
  }

  .aswrapper {
    margin-top: 30px;
  }

  .asadvantages-list {
    flex-direction: column;
    margin: 32px 0 32px 0;
    gap: 14px;
  }

  .asadvantages-item {
    width: 100%;
  }

  .ascomposition-left {
    max-width: 65%;
    margin: 42px 0 0 15px;
  }

  .asimage-telemetry {
    padding-top: 0;
  }

  .asinfo {
    position: initial;
  }

  .asquadro {
    margin-top: 23px;
    margin-bottom: 57px;
  }

  .asbackground-detector2 {
    background-position: -35%;
  }

  .asservice-list2 {
    flex-direction: column;
    width: fit-content;
  }

  .aswidth-50 {
    width: 100% !important;
  }

  .asmb-86 {
    margin-bottom: 48px !important;
  }
}

@media (max-width: 576px) {
  .astitle {
    font-size: 36px;
  }

  .astelemetry-desc {
    max-width: 197px;
  }

  .asdetector-desc {
    max-width: 200px;
  }

  .asquadro-desc {
    max-width: 152px;
  }

  .ascontainer {
    max-width: 100%;
    padding: 0 16px 0 16px;
  }

  .aswrapper {
    margin-top: 0px;
  }

  .ascomposition-left {
    margin: 42px 0 35px 0;
  }

  .ascomposition-list {
    max-width: 56%;
    margin-top: 23px;
    gap: 50px;
  }

  .asbride-list {
    max-width: 360px;
    gap: 21px;
  }

  .ascontainer-sheme {
    padding: 0 5px 0 5px;
  }

}

@media (max-width: 425px) {
  .asbackground-chip2 {
    background-size: 280%;
  }

  .asbackground-quadro2 {
    background: none;
  }

  .asbackground-bridge1 {
    background-position: 30%;
  }

  .ascomposition-list {
    max-width: 57%;
  }

  .ascomposition-left {
    max-width: 75%;
  }

  .asquadro-width {
    max-width: 100%;
  }

  .asbackground-info {
    padding: 10px 5px 15px 10px;
  }

  .asinfo {
    width: 260px;
  }

  .asbackground-detector2 {
    background-position: -80%;
    background-size: 120%;
  }

  .asbride-list {
    max-width: 360px;
  }

  .asadvantages-wrapper {
    gap: 10px;
  }

  .asservice-list2 {
    margin-left: 60px;
  }
}

@media (max-width: 375px) {
  .asbackground-bridge2 {
    background-size: 40%;
  }
}
