/*==================== FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.asbody {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #0f0f0f;
  background-color: #fff;
  font-weight: 500;
}

.asimage {
  max-width: 100%;
  height: auto;
}

/* TEXT */

.astitle {
  padding: 58px 0 36px 0;
  font-size: 48px;
  color: #fff;
}

.astext-black {
  color: #0f0f0f !important;
}

.astext-white {
  color: #fff !important;
}

.astext-gray {
  color: #7c7c7c !important;
}

.astext-bold {
  font-weight: bold !important;
}

.astext-blue {
  color: #0296ea !important;
}

.asdescription {
  font-size: 16px;
  color: #fff;
}

.astext-24 {
  font-size: 24px;
  font-weight: 500;
}

.astext-16 {
  font-size: 16px;
  font-weight: 500;
}

.astext-14 {
  font-size: 14px;
  font-weight: 500;
}

.astext-12 {
  font-size: 14px;
  font-weight: 500;
}

.astext-upper {
  text-transform: uppercase;
}

.astext-center {
  text-align: center;
}

/* POSITION */

.asrelative {
  position: relative;
}

.asabsolute {
  position: absolute;
}

.asinitial {
  position: initial !important;
}

.asnowrap {
  flex-wrap: nowrap !important;
}

.asflex-col {
  flex-direction: column !important;
}

.asflex-start {
  align-items: flex-start !important;
}

.asmax-width {
  width: 100% !important;
}

.aswidth-50 {
  width: 50% !important;
}

.asmb-86 {
  margin-bottom: 86px !important;
}

.asmb-60 {
  margin-bottom: 60px !important;
}

.asmt {
  margin-top: 38px !important;
}

.asgap-48 {
  gap: 48px !important;
}

.asmt-9 {
  margin-top: 9px !important;
}

/* BACKGROUNDS */
.asbackground-dark {
  background-color: #283c6d;
}

.asbackground-dark2 {
  background-color: #2f477f;
}

.asbackground-info {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding: 28px;
  max-width: 578px;
  min-height: 125px;
  border-radius: 20px;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.asbackground-chip1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: right;
}

.asbackground-chip2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-quadro1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-quadro2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: right;
}

.asbackground-bridge1 {
  background-color: #2f477f;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-bridge2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90%;
}

.asbackground-detector1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: center;
}

.asbackground-detector2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: right;
}

.asbackground-service1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: right;
}

.asbackground-company1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: center;
}

.asbackground-tractor {
  background-color: #3d89ec;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-human {
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-pc {
  background-color: #182445;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.asbackground-asautomation1 {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.asbackground-control {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% bottom;
}

.asbackground-enginer {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.asbackground-techno {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.asbackground-train {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}

.asbackground-dynamic {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% center;
}

.asbackground-system {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}

.asbackground-system2 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% top;
}

.asbackground-system3 {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% bottom;
  background-size: contain;
}

.asbackground-cable {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% top;
}

.asbackground-man {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.asbackground-rail {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.asbackground-information {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100%;
}

.asbackground-navigation {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100%;
}

.asbackground-video {
  background-color: #2f477f;
  background-repeat: no-repeat;
  background-position: bottom;
}

.asbackground-monitoring {
  background-color: #283c6d;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}

.asbackground-locker {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% bottom;
}

.asbackground-case {
  background-color: #dbe3f1;
  background-repeat: no-repeat;
  background-position: 90% top;
}

/*==================== LAYOUT ====================*/
.ascontainer-section {
  max-width: 1300px;
  margin: 0 auto;
}

.ascontainer2 {
  max-width: 1180px;
  margin: 0 auto;
}

.aswrapper {
  margin-top: 100px;
}

/* PAGE OTHER AND SECURITY */
.ascontainer-preview {
  display: flex;
  min-height: 347px;
}

.ascontainer-composition {
  display: flex;
  min-height: 312px;
}

.ascontainer-sheme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}

.ascontainer-sheme2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asadvantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 38px 0 32px 0;
  gap: 25px;
  list-style: none;
}

.asadvantages-item {
  width: 48%;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.asadvantages-icon1 {
  width: 76px;
  height: auto;
}

.asadvantages-icon2 {
  width: 48px;
  height: auto;
}

.asadvantages-title {
  font-size: 16px;
  font-weight: bold;
}

.asadvantages-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
}

.asadvantages-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 26px;
}

.aspreview {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 32px 0 54px 60px;
}

.aspreview-left {
  padding-left: 60px;
}

.aspreview-title {
  font-size: 48px;
  color: #fff;
}

.aspreview-text {
  font-size: 24px;
  color: #fff;
}

.aspreview-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: inside;
}

.asitem-container {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.ascomposition-left {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  margin: 42px 0 0 72px;
}

.ascomposition-title {
  font-size: 24px;
  text-transform: uppercase;
}

.ascomposition-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  gap: 47px;
}

.ascomposition-description {
  margin-top: 23px;
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
}

.asdetector-desc {
  max-width: 439px;
}

.ascomposition-list {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  gap: 16px;
  list-style-position: inside;
}

.ascomposition-item {
  font-size: 16px;
}

.ascomposition-item::marker {
  color: #3d89ec;
}

.asimage-telemetry {
  padding-top: 45px;
}

.asinfo {
  position: absolute;
  top: 0;
  left: 20%;
}

.asinfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.asinfo-title {
  font-size: 14px;
  font-weight: 600;
}

.asquadro {
  margin-top: 79px;
  margin-bottom: 57px;
}

.asservice-list {
  max-width: 439px !important;
  gap: 16px !important;
}

/* PAGE SERVICE */
.asservice-list2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 24px;
  padding-left: 75px;
  list-style-position: inside;
}

.asservice-item {
  list-style: inside;
}

.asservice-title {
  font-size: 32px;
  font-weight: bold;
}

/* PAGE COMPANY */
.ascompany-preview {
  min-height: 621px;
  padding: 32px 0 48px 40px !important;
}

.ascompany-block {
  max-width: 510px;
}

.asblock1-subtitle {
  font-size: 16px;
  color: #0296ea;
}

.asblock1-title {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.ascompany-block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.asblock2-subtitle {
  font-size: 24px;
  color: #fff;
}

.asbadge {
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: 1px solid #0296ea;
  padding: 12px 20px 12px 20px;
  border-radius: 50px;
}

.ascompany-block3 {
  display: flex;
  margin-top: 25px;
  gap: 37px;
}

.asblock3-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 19px;
}

.asblock3-icon {
  width: 59px;
  height: auto;
}

.asblock3-text {
  font-size: 14px;
  color: #fff;
}

.ascompany-block4 {
  display: flex;
  max-width: 900px;
  margin-top: 40px;
  gap: 30px;
}

.asblock4-item1 {
  width: 237px;
  height: 215px;
}

.asblock4-item2 {
  width: 238px;
  height: 215px;
}

.asblock4-item3 {
  width: 360px;
  height: 215px;
}

.asblock4-background {
  margin: 15px 0 0 20px;
}

.asblock4-title {
  display: block;
  width: 184px;
  font-size: 16px;
  color: #fff;
}

.asblock4-text {
  width: 130px;
  color: #fff;
}

.asblock4-text2 {
  width: 160px;
  margin-top: 10px;
  color: #fff;
}

.asexp-block5 {
  display: flex;
  flex-direction: column;
  padding: 58px 0;
}
.asblock-title {
  font-size: 32px;
  font-weight: bold;
}
.asblock5-column {
  display: flex;
  margin: 40px 0;
  gap: 24px;
}
.ascolumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ascolumn-img {
  width: 174px;
  height: 121px;
}
.ascolumn-title {
  color: #0296ea;
  font-size: 24px;
  font-weight: 800;
}
.ascolumn-list {
  display: flex;
  max-width: 478px;
  flex-direction: column;
  gap: 4px;
  list-style-position: inside;
}

.ascolumn-item {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 400;
}

.ascolumn-item::marker {
  color: #3d89ec;
}

.asblock5-column2 {
  display: flex;
  height: 94px;
  justify-content: space-around;
  align-items: center;
  gap: 265px;
  border-radius: 8px;
  border: 1px solid #7c7c7c;
}
.ascolumn2-item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.ascolumn2-img {
  width: 39px;
  height: 30px;
}
.ascolumn2-text {
  display: flex;
  width: 230px;
  flex-direction: column;
}

.asgarant {
  background-color: #dbe3f1;
}
.asgarant-block6 {
  padding: 43px 16px !important;
}
.asblock6-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  grid-template-areas:
    'item-1 item-4'
    'item-2 item-5'
    'item-3 item-6'
    '.      item-7';
}

.asitem1 {
  grid-area: item-1;
}
.asitem2 {
  grid-area: item-2;
}
.asitem3 {
  grid-area: item-3;
}
.asitem4 {
  grid-area: item-4;
}
.asitem5 {
  grid-area: item-5;
}
.asitem6 {
  grid-area: item-6;
}
.asitem7 {
  grid-area: item-7;
  align-items: center !important;
}

.asblock6-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.asblock6-img {
  width: 48px;
  height: 49px;
}

.asblock6-title {
  font-size: 16px;
}
.asblock6-text {
  max-width: 335px;
  font-size: 16px;
  color: #7c7c7c;
}

.asobjects {
  padding: 48px 0;
}

.asblock7-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
  align-items: center;
  justify-items: center;
}

.asblock7-item {
  position: relative;
}

.asblock7-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin: 23px 0 0 23px;
  gap: 12px;
}

.asblock7-title {
  color: #0296ea;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.asblock7-img {
  max-width: 377px;
  max-height: 335px;
}

.asblock7-subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* PAGE AUTOMATION */
.asautomation-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px 0 70px 60px;
}
.asautomation-title {
  max-width: 616px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}
.asutomation-subtitle {
  max-width: 439px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.asautomation-block1 {
  padding: 47px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.asblock8-wrapper {
  display: flex;
  gap: 75px;
}

.asblock8-column1 {
  display: flex;
  gap: 64px;
}

.asblock8-column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 39px;
}

.asblock8-item {
  display: flex;
  align-items: center;
  gap: 18px;
}
.asblock8-icon {
  width: 29px;
  height: 29px;
}
.asblock8-text {
  font-size: 16px;
  max-width: 565px;
}

.asblock9-wrapper {
  background-color: #dbe3f1;
  min-height: 225px;
}

.asblock9-background {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 46px 0 53px 94px;
}

.asblock9-title {
  font-size: 24px;
  font-weight: 700;
}

.asutomation-subtitle2 {
  margin: 12px 0 33px 0;
  color: #0296ea;
  font-size: 16px;
}

.asutomation-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  font-size: 16px;
  list-style-position: inside;
}

.asautomation-block2 {
  margin-bottom: 35px;
}
.asblock10-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 25px;
  margin-top: 25px;
}
.asblock10-item {
  display: flex;
  width: 50%;
  gap: 15px;
}

.asblock10-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.astechno-block {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 104px 0 170px 60px;
}

.asinfo-wrapper {
  display: flex;
  gap: 50px;
}

.asimage-techno {
  margin: 15px 0 30px 0;
}

.asspeaker-block {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 34px 0 58px 60px;
  gap: 28px;
}

.asspeacker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.asblock9-background2 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 65px;
  padding: 78px 0 78px 94px;
}

.asblock9-list {
  display: flex;
  gap: 65px;
}
.asblock9-item {
  display: flex;
  flex-direction: column;
}

.asblock11-wrapper {
  margin-top: 65px;
  display: flex;
  gap: 190px;
}

.asblock11-list {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.asblock11-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.asblock11-list2 {
  position: absolute;
  top: 23%;
  right: 10%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aslist2-item {
  display: flex;
  align-items: center;
  gap: 9px;
}
.aslist2-icon {
  width: 28px;
  height: 28px;
}

.asblock12 {
  position: absolute;
  top: 0;
  left: 0;
}

.asblock12 {
  max-width: 100%;
  display: flex;
  gap: 150px;
  margin: 47px 0 0 80px;
}

.asblock12-title {
  max-width: 352px;
  font-size: 32px;
  font-weight: bold;
}
.asblock12-wrapper {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.asblock13 {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 33px 0 80px 60px;
}

.asblock13-title {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}

.asblock13-subtitle {
  font-size: 16px;
  color: #fff;
}

.asblock10-icon {
  width: 32px;
  height: 32px;
}

.asblock14-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 15px;
}

.asblock14-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 25px;
  margin: 42px 0 35px 0;
}

.asblock15-wrapper {
  display: flex;
  gap: 55px;
}

.asblock15-list {
  position: absolute;
  top: 0;
  right: 20%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.asblock15-item {
  max-width: 260px;
}
.asblock15-title {
  font-size: 24px;
  font-weight: bold;
  color: #182445;
}

.asimage-sheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.asblock8-title {
  font-size: 32px;
  font-weight: bold;
}

.asblock8-title2 {
  font-size: 32px;
  font-weight: bold;
}

.ascomposition-block {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.asblock16 {
  display: flex;
  gap: 60px;
  padding: 32px 0;
}
.asblock16-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 440px;
}
.asblock16-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.asblock16-text {
  font-size: 16px;
}
.asblock17 {
  min-height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dbe3f1;
}
.asblock17-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 47px;
}
.asblock17-icon {
  width: 40px;
  height: 44px;
}
.asblock17-text {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.asblock17-title {
  font-size: 16px;
  font-weight: bold;
}
.asblock17-subtitle {
  font-size: 16px;
  color: #7c7c7c;
}

.asblock18 {
  margin-top: 25px;
  margin-bottom: 28px;
}

.asblock18-title {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 24px;
  font-weight: bold;
}

.asblock19 {
  min-height: 920px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dbe3f1;
}

.asblock19-wrapper {
  position: absolute;
  top: 10%;
  left: 5%;
}

.asblock19-title {
  font-size: 24px;
  font-weight: bold;
}

.asblock20 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.asblock20-wrapper {
  display: flex;
  gap: 100px;
}
.asblock20-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.asblock20-title {
  font-size: 32px;
  font-weight: bold;
}

.asblock20-list {
  display: flex;
  justify-content: center;
  align-items: end;
}
.asblock20-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.asblock20-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 9px;
}

.asblock21 {
  margin-top: 32px;
}
.asblock21-container {
  max-width: 612px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 47px 0 52px 59px;
}
.asblock21-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.asblock21-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.asblock21-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.asblock22 {
  margin-top: 32px;
  margin-bottom: 100px;
}

.asblock22-title {
  font-size: 32px;
  font-weight: bold;
}
.asblock22-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 150px;
}
.asblock22-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 25px;
}
.asblock22-wrapper {
  max-width: 380px;
  display: flex;
  gap: 22px;
}
.asblock22-number {
  font-family: 'Montserrat', sans-serif;
  font-size: 43px;
  font-weight: bold;
  color: #dbe3f1;
}
.asblock22-wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.asblock23-title {
  font-size: 32px;
  font-weight: bold;
}

.asblock24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.asblock25 {
  margin-top: 32px;
  margin-bottom: 89px;
}
.asblock25-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.asblock26 {
  display: flex;
  flex-direction: column;
  gap: 84px;
}

.asblock26-title {
  font-size: 32px;
  font-weight: bold;
}

.asblock27 {
  margin-top: 60px;
  margin-bottom: 70px;
}

.asblock27-title {
  font-size: 32px;
  font-weight: bold;
}

.asblock27-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 65px;
  margin-top: 40px;
}
.asblock27-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.asblock27-icon {
  width: 75px;
  height: 77px;
}
.asblock27-wrapper {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.asblock27-list2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.asblock27-item2 {
  color: #7c7c7c;
  list-style-position: inside;
  list-style-type: initial;
}
.asblock27-item2::marker {
  color: #3d89ec;
}

.asblock28 {
  max-width: 553px;
  display: flex;
  flex-direction: column;
  padding: 32px 0 173px 60px;
}
.asblock28-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #0296ea;
  text-transform: uppercase;
}
.asblock28-title {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.asblock29 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.asblock29-title {
  font-size: 32px;
  font-weight: bold;
}
.asblock29-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 32px;
  margin-left: 15px;
}

.asblock29-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.asblock30 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
.asblock30-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.asblock30-title {
  font-size: 32px;
  font-weight: bold;
}
.asblock30-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.asblock30-item {
  display: flex;
  gap: 18px;
}
.asblock30-icon {
  width: 29px;
  height: 29px;
}
.asblock30-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.asblock30-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 520px;
  padding: 17px 48px 22px 29px;
  background-position: top right;
  background-repeat: no-repeat;
}

.asblock31-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.asblock31-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.asblock31-wrapper2 {
  display: flex;
  gap: 30px;
}

.asblock31-title {
  max-width: 678px;
  font-size: 32px;
  font-weight: bold;
}

.asblock31-icon {
  width: 40px;
  height: 40px;
}

.asblock32 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 38px 100px 50px 100px;
  margin-bottom: 48px;
  background-color: #dbe3f1;
}
.asblock32-wrapper1 {
  display: flex;
  gap: 25px;
}
.asblock32-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.asblock32-wrapper2 {
  display: flex;
  gap: 25px;
}
.asblock32-text2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 9px;
}
.asblock32-badge {
  display: flex;
  align-items: center;
  gap: 33px;
}

.asblock32-wrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.asblock33 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 58px 0 42px 60px;
  margin-bottom: 38px;
}

.asblock33-title {
  max-width: 500px;
  font-size: 48px;
  color: #fff;
}

.asblock33-wrapper2 {
  max-width: 796px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.asblock33-subtext {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
}

.asblock35 {
  max-width: 765px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding: 67px 0 100px 127px;
}
.asblock35-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.asblock35-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-position: inside;
  gap: 20px;
}

.asblock35-item {
  font-size: 16px;
}

.asblock35-item::marker {
  color: #3d89ec;
}

.asblock36 {
  max-width: 538px;
  margin-top: 48px;
  padding: 58px 0 109px 60px;
}
.asblock36-title {
  font-size: 48px;
  color: #fff;
}

.asblock-37-icon {
  width: 40px;
  height: 40px;
}

.asblock-37-title {
  font-size: 24px;
  font-weight: bold;
}

/*==================== MEDIA ====================*/
@media (max-width: 1240px) {
  .aspreview {
    margin: 32px 16px;
  }

  .aspreview-left {
    padding: 0 16px;
  }

  .asautomation-block,
  .astechno-block, .asblock36 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .asdescription {
    max-width: 80%;
  }

  .aswrapper {
    margin-top: 80px;
  }

  .asblock7-img {
    max-width: calc(341px - 16px);
  }

  .asblock28, .asblock33 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .asblock28-title {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .ascontainer {
    max-width: 730px;
  }

  .ascontainer2 {
    max-width: 100%;
    padding: 0 16px;
  }

  .asautomation-block1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .asmt-40 {
    margin-top: 40px;
  }

  .asmb-40 {
    margin-bottom: 40px;
  }

  .aswrapper {
    margin-top: 50px;
  }

  .asinfo {
    left: 15%;
  }

  .asbackground-quadro2 {
    background-position: center;
    background-size: contain;
  }

  .asbackground-detector2 {
    background-position: 100%;
  }

  .asbackground-information {
    background-position: 10%;
  }

  .asbackground-case {
    background-position: bottom right ;
    background-size: 50%;
  }

  .asblock7-img {
    max-width: calc(321px - 16px);
  }

  .asblock15-list {
    right: 5%;
    gap: 10px;
  }

  .asblock13-title {
    font-size: 36px;
  }

  .asblock16 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .asblock17-text {
    max-width: 500px;
  }

  .asblock22-list {
    column-gap: 75px;
  }

  .asblock19 {
    min-height: 820px;
  }

  .asblock22 {
    margin-bottom: 50px;
  }

  .asblock25 {
    margin-bottom: 32px;
  }

  .asblock26 {
    gap: 32px;
  }

  .asblock32 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .asblock32-wrapper {
    flex-direction: column;
    padding: 25px 0;
  }

  .asblock35 {
    max-width: 620px;
    padding-left: 16px;
  }
 
}

@media (max-width: 768px) {
  .ascontainer {
    max-width: 550px;
    display: flex;
    flex-direction: column;
  }

  .ascontainer-sheme {
    align-items: center;
  }

  .asadvantages-list {
    flex-direction: column;
    margin: 32px 0 32px 0;
    gap: 14px;
  }

  .asadvantages-item {
    width: 100%;
  }

  .asdescription {
    max-width: 60%;
  }

  .aswrapper {
    margin-top: 30px;
  }

  .ascomposition-left {
    max-width: 65%;
    margin: 42px 0 0 15px;
  }

  .asimage-telemetry {
    padding-top: 0;
  }

  .asinfo {
    position: initial;
  }

  .asquadro {
    margin-top: 23px;
    margin-bottom: 57px;
  }

  .asbackground-chip1 {
    background-position: center;
  }

  .asbackground-quadro1 {
    background-position: center;
  }

  .asbackground-bridge1 {
    background-position: center;
  }

  .asbackground-information {
    background-position: 50%;
    background-size: cover;
  }

  .asbackground-detector2 {
    background-position: 250%;
  }

  .asbackground-service1 {
    background-position: 30% 50%;
  }

  .asbackground-system2 {
    background-size: 45%;
    background-position: bottom right;
  }

  .asbackground-system {
    background-position: 50%;
    background-size: cover;
  }

  .asbackground-monitoring {
    background-position: 40%;
    background-size: cover;
  }

  .asbackground-rail {
    background-position: 20%;
    background-size: cover;
  }

  .asbackground-cable {
    background-position: bottom right;
  }

  .asservice-list2 {
    flex-direction: column;
    width: fit-content;
  }

  .aswidth-50 {
    width: 100% !important;
  }

  .asmb-86 {
    margin-bottom: 48px !important;
  }

  .asexp-block5 {
    padding: calc(58px / 2) 0;
  }

  .asobjects {
    padding: calc(48px / 2) 0;
  }

  .asblock5-column {
    flex-direction: column;
    gap: 50px;
  }

  .asblock5-column2 {
    gap: 25px;
  }

  .asblock7-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .asblock7-img {
    max-width: 100%;
  }

  .asblock8-wrapper {
    flex-direction: column;
  }

  .asblock9-background {
    padding-left: 16px;
  }

  .asbackground-control {
    background-size: 40%;
    background-position: 100% bottom;
  }

  .asbackground-system3 {
    background-position: bottom right;
    background-size: 30%;
  }

  .asbackground-hide {
    display: none;
  }

  .asinfo-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .asbackground-train {
    background-size: cover;
    background-position: 50%;
  }

  .asblock9-background2 {
    max-width: 500px;
    padding-left: 20px;
  }

  .asblock9-list {
    gap: 30px;
  }

  .asblock11-list2 {
    right: 5%;
  }

  .asbackground-dynamic {
    background-size: 40%;
    background-position: 100% center;
  }

  .asblock13 {
    max-width: 500px;
    padding: 33px 16px 80px 16px;
  }

  .asbackground-asautomation1 {
    background-position: 10%;
    background-size: cover;
  }

  .asblock15-list {
    position: initial;
  }

  .asblock16 {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .asblock16-wrapper {
    max-width: 100%;
  }

  .asblock16-list {
    grid-template-columns: 1fr;
    padding-left: 15px;
  }

  .asblock17 {
    padding: 25px 0;
  }

  .asblock17-text {
    max-width: 350px;
  }

  .asblock18 {
    padding-top: 50px;
  }

  .asblock18-title {
    max-width: 335px;
    top: 0;
  }

  .asblock19 {
    min-height: 620px;
  }
  
  .asblock19-wrapper {
    max-width: 335px;
    top: 5%;
  }

  .asspeaker-block {
    padding: 34px 16px 60px 16px;
  }

  .asblock21-container {
    max-width: 400px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 70px;
  }

  .asblock27 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .asblock27-list {
    grid-template-columns: 1fr;
  }

  .asblock31-title {
    max-width: 440px;
  }

  .asblock32-wrapper1  {
    flex-direction: column;
  }

  .asblock32-text {
    max-width: 100%;
  }

  .asblock32-wrapper2 {
    flex-direction: column;
  }

  .asblock32-text2 {
    width: 100%;
  }

  .asblock33 {
    max-width: 400px;
  }

  .asblock33-title {
    font-size: 36px;
  }

  .asblock35-list {
    grid-template-columns: 1fr;
  }
  
  .asblock36 {
    max-width: 500px;
  }
  
  .asblock36-title {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .aspreview-title {
    font-size: 36px;
  }

  .aspreview-text {
    font-size: 16px;
  }

  .aspreview-wrapper {
    font-size: 16px;
  }

  .ascontainer-sheme {
    padding: 0 5px 0 5px;
  }

  .astitle {
    font-size: 36px;
  }

  .astelemetry-desc {
    max-width: 197px;
  }

  .asdetector-desc {
    max-width: 200px;
  }

  .asquadro-desc {
    max-width: 152px;
  }

  .asbackground-detector2 {
    background-position: -35%;
  }

  .asbackground-bridge2 {
    background-size: 40%;
    background-position: bottom right;
  }

  .asbackground-navigation {
    background-position: 60%;
    background-size: cover;
  }

  .asbackground-man {
    background-position: 50%;
  }

  .aswrapper {
    margin-top: 0px;
  }

  .ascomposition-left {
    margin: 42px 0 35px 0;
  }

  .ascomposition-list {
    max-width: 56%;
    margin-top: 23px;
    gap: 50px;
  }

  .asbride-list {
    max-width: 360px;
    gap: 21px;
  }

  .ascompany-preview {
    padding: 32px 0 66px 0 !important;
  }

  .ascompany-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    max-width: 100%;
  }

  .ascompany-block1 {
    text-align: center;
  }

  .ascompany-block2 {
    flex-direction: column;
    gap: 18px;
  }

  .ascompany-block3 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .asblock3-item {
    justify-content: center;
    align-items: center;
  }

  .asblock3-text {
    text-align: center;
  }

  .ascompany-block4 {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .asblock5-column2 {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  .asblock6-list {
    display: flex;
    flex-direction: column;
  }

  .asblock7-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .asautomation-title {
    font-size: 36px;
  }

  .asutomation-subtitle {
    font-size: 16px;
  }

  .asautomation-block {
    max-width: 340px;
    padding: 32px 16px;
  }

  .asblock8-title {
    text-align: center;
  }

  .asblock8-wrapper {
    gap: 45px;
  }

  .asblock8-column1 {
    align-items: center;
  }

  .asblock8-column2 {
    gap: 25px;
  }

  .asutomation-subtitle2 {
    margin-bottom: 12px;
  }

  .asbackground-enginer {
    background-size: cover;
    background-position: 50%;
  }

  .asbackground-cable {
    background-size: 40%;
  }

  .astechno-block {
    max-width: 320px;
    padding: 40px 16px 90px 16px;
  }

  .asbackground-techno {
    background-position: 50%;
  }

  .asinfo-wrapper {
    gap: 15px;
  }

  .asspeaker-block {
    max-width: 350px;
  }

  .asblock9-list {
    flex-direction: column;
  }

  .asblock9-background2 {
    max-width: 340px;
    gap: 24px;
  }

  .asblock11-wrapper {
    gap: 50px;
  }

  .asblock11-list2 {
    top: 10%;
    right: 0;
    gap: 30px;
  }

  .asblock12 {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
  }

  .asblock13 {
    padding: 33px 16px 80px 16px;
  }

  .asblock14-list2 {
    flex-direction: column;
  }

  .asblock10-item {
    width: 100%;
  }

  .asblock8-title2 {
    text-align: left;
    position: initial !important;
  }

  .asbackground-dynamic {
    background-position: bottom right;
    background-size: 35%;
  }

  .asbackground-locker {
    background-position: bottom right;
    background-size: 50%;
  }

  .asblock9-background2 {
    padding: 33px 16px 130px 16px;
  }

  .asblock15-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .asblock15-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .asblock15-title {
    max-width: 50%;
    width: 50%;
  }

  .asblock17-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .asblock17-text {
    max-width: 90%;
  }

  .asblock20-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .asblock20-list {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .asblock21-container {
    max-width: 300px;
    padding-bottom: 50px;
  }

  .asblock22-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .asblock22-item {
    align-items: center;
  }

  .asblock25-wrapper {
    grid-template-columns: 1fr;
  }

  .asblock28 {
    max-width: 330px;
    padding-bottom: 62px;
  }

  .asblock29-list {
    grid-template-columns: 1fr;
  }

  .asblock30  {
    grid-template-columns: 1fr;
  }

  .asblock31-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .asadvantages-wrapper {
    gap: 10px;
  }

  .asbackground-chip2 {
    background-size: 280%;
  }

  .asbackground-quadro2 {
    background: none;
  }

  .asbackground-bridge1 {
    background-position: 30%;
  }

  .ascomposition-list {
    max-width: 57%;
  }

  .ascomposition-left {
    max-width: 75%;
  }

  .asquadro-width {
    max-width: 100%;
  }

  .asbackground-info {
    padding: 10px 5px 15px 10px;
  }

  .asbackground-detector2 {
    background-position: -80%;
    background-size: 120%;
  }

  .asbackground-case {
    background-size: 35%;
  }

  .asbride-list {
    max-width: 360px;
  }

  .asservice-title {
    font-size: 24px;
  }

  .asservice-list2 {
    padding-left: 60px;
  }

  .asblock8-column1 {
    flex-direction: column;
  }

  .asblock11-wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .asblock11-list {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .asblock11-list2 {
    position: initial;
  }

  .asmb-60 {
    margin-bottom: 30px !important;
  }

  .asblock28-title {
    max-width: 330px;
  }

  .asblock33 {
    max-width: 340px;
  }

  .asautomation-title,
  .asblock13-title {
    font-size: 32px;
  }
  .asblock8-title,
  .asblock-title,
  .asblock12-title,
  .asblock8-title2 {
    font-size: 30px;
  }

  .asblock9-title {
    font-size: 20px;
  }

  .asblock15-title {
    font-size: 18px;
  }

  .asinfo-subtitle {
    font-size: 13px;
  }

  .asblock-37-title {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .aspreview-title {
    font-size: 24px;
  }

  .asbackground-bridge2 {
    background-size: 40%;
  }

  .asinfo-title {
    font-size: 12px;
  }

  .asinfo-subtitle {
    font-size: 12px;
  }

  .asblock4-item3 {
    max-width: 290px;
  }

  .ascolumn2-item {
    gap: 10px;
  }

  .ascolumn2-img {
    width: 30px;
    height: auto;
  }

  .asblock-37-title {
    font-size: 18px;
  }

  .asblock32-badge {
    gap: 5px;
  }
  
  .asblock30-title, .asblock31-title {
    font-size: 28px;
  }
}
